
/* navigation */
#navbar{
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    
}

/* home */
#home{
    height: 600px;
    padding: 20px;
}
#home::before{
    margin-top: 50px;
    height: 700px;
    width: 100vw;
    
    
}
#order::before{ 
     position:absolute;

}
/* p{
    height: 117px;
    font-size: 1rem;
} */
#navbar ul .item a{
    
    font-size: 15px;
    padding: 5px;
    font-weight: bolder;
}


.part{
    
    margin-left: 5px;
}

/* partner */
