 body{ 
    color: rgb(139, 200, 134);
    /* background-color: bisque;  */
     font-style: italic ;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     float:center;
     width:500px;
     text-align: center;
     border-radius: 250px;
     background-image: url('No pain no gain, body, bodybuilding, fitness, gym, inspiration, life, motivation, positive, HD phone.jpg');
     flex-wrap: wrap;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     flex-basis: 300px;
   
     
     } 
     #Table{
        
        border-color: rgb(247, 143, 228);
        background-color: orange;
        border-width: 5px;
        border-style: solid;
        border-radius: 5px;
        border-radius: 25px; 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-grow:30px
        
     }
     .title{
     font-size: 50px;
     font-weight:bold;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     padding: 30px 40px 20px 10px;
  
     
     border:5px solid red ;
    
    
     border-radius: 25px;
     /* box-sizing: border-box; */
     display: block;
     /* display: inline-block; */
     /* width: 250px; */
     /* position:sticky; */
     /* top: 30px; */
     /* z-index: -1; */
     
     
     }
     .btn{
      background-color: rgb(251, 255, 255);
      cursor: pointer;
      text-decoration:none;
      border-radius: 25px;
     }

     p{
      font-size: 20px;
     font-style:italic;
     
     padding: 30px 40px 20px 10px;
     
      background-color: rgb(235, 16 
     /* margin: 30px 20px 40px 10px; */
     border:5px solid red ;
     /* box-sizing: border-box; */
     /* background-size:cover; */
     border-radius: 25px;
     
     }
     #textar{
   border-radius: 25px;}
     .btn:hover{width: auto;
      color: rgb(253, 6, 6);}
      btn.visited{
         color: yellow;
      }
         

   