html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    
    
}

/* logo and image style */
#logo{
    margin: 0px 0px;
}
#logo img{
    margin: 0px 0px;
    height: 67px;
}
#navbar ul{
    display: flex;
}

#navbar ul .item{
    
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul .item a{
    color: azure;
    display: block;
    text-decoration: none;
    padding: 10px 50px;
    
}
#navbar::before{
    content:"";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#navbar ul .item a:hover{
    color: rgb(9, 9, 9);
    background-color: aliceblue;
    border-radius: 10px;
    
  
}
#navbar{
    position: absolute;}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}
#home::before{
    content:"";
    background:url("pexels-yurii-hlei-1545743.jpg.jpg") no-repeat center center /cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}
#home H1{
 color: rgb(254, 253, 253);
 text-align: center;
 font-size: 2.5rem;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-weight:bold
}
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
}
.heading{
    display: flex;
    justify-content: center;
    color: rgb(22, 22, 22);
    margin-top: 200px;


}
#order{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
   
#order img{
    height:200px;
    width:200px;
    
}
p{
    font-size: medium;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}
.btn:hover{
    color:rgb(40, 177, 227) ;
    background-color: black;
    transition: 1s;
}
.heading{
    font-size:30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:lighter;
}
.heading{
    
    color: beige;
}
#order{
 
  
    margin-top: 200px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:1 ;
    background-color: blueviolet;
    
}

    
    


.imag img{

    
    height: 200px;
    width: 200px;
}
.imag{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    color: aliceblue;
    
    padding: 10px 100px;
}
.btna{
    
    font-size: larger;
    font-weight: bolder;
    color: rgb(11, 11, 11);
}
 .btna:hover{
    color: rgb(243, 245, 244);
    background-color:black ;
    transition: 1s;
 }
 .form{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
   background-color: rgb(211, 214, 207);
   color: rgb(249, 249, 250);
  
   
   
}
.forms{
    font-size: 20px;
    position: fixed;
    
}
.partners{display: flex;
    justify-content: center;
    align-items: center;

    font-size: larger;
  
    color: antiquewhite;
    
}

.part img{
    height: 150px;
    width: 150px;
}
.partners::before{
    content: "";
    height: 10%;
    width: 100%;
    z-index: -1;
    opacity:1 ;
    background-color: rgb(207, 211, 213);
    position: absolute;
}

.partners{
    margin-top: 5%;
}
.part{
    float: left;
    margin-top: 10% ;
    margin-left: 164px;
}